
  table, th, td{
    border-collapse: collapse;
    text-align: left;
    padding: 4px;
    border: 1px solid white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
    
    
  }
  table{
    width: 100%;
    color: white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
    
    
  }
  body{
    padding-left: 15%;
    padding-right: 15%;
background-color: #272727;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


  }
  img{
    width: 500px;
  }
  .centrado{
    margin:10px auto;
    display:block;
    width: 100%;
    
  }
  h1, h2, h3, p{
    color:white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
    
    
  }






