
  table, th, td{
    border-collapse: collapse;
    text-align: left;
    padding: 4px;
    border: 1px solid white;
    
  }
  table{
    width: 100%;
    color: white;
  }
  body{
    padding-left: 15%;
    padding-right: 15%;
background-color: #272727;
  }
  img{
    width: 300px;
  }
  .centrado{
    margin:10px auto;
    display:block;
    width: 100%;
    
  }
  h1, h2, h3, p{
    color:white;
  }
<<<<<<< HEAD
  .imgbox {
    float: right;
    max-width: 300px;
  }
=======
  a{
    color:aqua 
  }
>>>>>>> 4c043f0786e1a60d94771aad9772dff60612c242
